body{
  border-radius: 25px;
  background-color: rgb(99, 102, 102);

}
img{
  width: 100%;
  border-radius: 360px;
}
main{
  padding: 0 38%;
  margin: 70px 0;
  text-align: center;
}

a:link    { color:  green;  }
a:visited { color: green; }
a:hover   { color: green; }
a:active  { color: green; }
.group img {
  width: 100%;
}
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: rgb(110, 77, 33);
  text-align: center;
  border-radius: 50%;
  margin-top: -2%;
}

.item {
  flex: 1;
  margin: 10px;
  text-align: center;
  padding: 5%;
  font-size: 20px;
  margin-top: %;
}
@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}